/* Include all your font declarations here. See example below using the smily bulletproof method */
/*
// The font face declaration
@font-face {
	font-family: 'DejaVuSerifBook';
	src: url('../fonts/DejaVuSerif-webfont.eot');
	src: local('☺'), url('../fonts/DejaVuSerif-webfont.woff') format('woff'), url('../fonts/DejaVuSerif-webfont.ttf') format('truetype'), url('../fonts/DejaVuSerif-webfont.svg#webfontCFu7RF0I') format('svg');
	font-weight: normal;
	font-style: normal;
}

// A quick access mixin for this font family and the delegate families
@mixin ff-dejavu(){
	font-family: 'DejaVuSerifBook', Georgia, serif;
}
*/